# Логи
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Данные во время выполнения
pids
*.pid
*.seed
*.pid.lock

# Каталог для инструментальных библиотек, созданных jscoverage/jscoverage
lib-cov

# Каталог покрытия, используемый такими инструментами, как istanbul
coverage

# охват тестирования nyc
.nyc_output

# Промежуточное хранилище Grunt
.grunt

# Каталог зависимостей Bower
bower_components

# конфигурация node-waf
.lock-wscript

# Скомпилированные двоичные дополнения 
build/Release

# Каталоги зависимостей
node_modules/
jspm_packages/

# Файлы объявлений Typescript v1
typings/

# Необязательный каталог кэша npm
.npm

# Дополнительный кэш eslint
.eslintcache

# Необязательная история REPL
.node_repl_history

# Вывод 'npm pack'
*.tgz

# Yarn файл
.yarn-integrity

# dotenv
.env

